input[type="text"], input[type="password"], textarea {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #333;
    border: 1px solid #ccc;
}

.image-container {
  position: relative;
  max-width: 600px;
}

.image-container .sigma_a {
  
  height: auto;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 20px;
  border-radius: 20px;
}